
.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.visit {
    background-color: orange;
}

.non-visit {
    background-color: aqua;
}

.flags-container img{
    width: 100px;
    height: 50px;
    padding: 10px;
}